.middle {
  padding-top: 40px;
  padding-left: 5%;
}

ul.breadcrumb {
  margin-left: -3%;
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb > li {
  display: inline;
  font-size: 15px;
}

ul.breadcrumb > li + li::before {
  padding: 4px;
  color: black;
  content: "/\00a0"; /* puts in the slash */
}

ul.breadcrumb > li > a {
  color: #01447e;
  text-decoration: none;
}

ul.breadcrumb > li > a:hover {
  color: tomato;
  text-decoration: underline;
}
