* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* creates an expanding hamburger */
  transition: all 0.5s ease-in-out; 
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background-color: #101010;
}

input.invisible-checkbox {
  width: 26px;
  height: 34px;
  position: absolute;
  opacity: 0; /* makes checkbox invisible but clickable */
  z-index: 10; /* puts checkbox on top of hamburger */
  cursor: pointer;
}

/* next 3 input:checked turn hamburger into an X */
input:checked ~ .bar {
  transform-origin: left;
  transform: rotate(45deg) translate(-2px, -1px);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

input:checked ~ .bar:nth-last-child(3) {
  opacity: 0; /* hides middle bar */
}

input:checked ~ .bar:nth-last-child(2) {
  transform: rotate(-45deg) translate(0px, -1px); /* turns bar opposite direction */
}

/* displays the nav options when invisible checkbox is clicked */
input:checked ~ ul {
  display: block;
  animation: slidein 2s;
  left: 0; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 5rem;
  flex-direction: column;
  list-style: none;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #666;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.5px 1px #666;
}

.nav-link:hover {
  color: #4fed2f;
}

.nav-logo {
  margin-left: -8%;
  font-size: 2rem;
  font-weight: 600;
  color: #4fed2f;
}

@media (min-width: 500px) {
  .nav-logo {
    margin-left: -5%;
  }
}

@media (min-width: 600px) {
  .navbar {
    display: inline;
  }
  .bar,
  input.invisible-checkbox {
    display: none;
  }
  .nav-logo {
    margin-left: -2%;
  }
  .nav-menu {
    display: auto;
    list-style: none;
    margin-top: -37px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    background: none;
    flex-direction: row;
    gap: 1.5rem;
    transition: none;
  }
}

@media (min-width: 1000px) {
  .nav-logo {
    margin-left: 0;
  }
}
/* slidein animation from left to right */
@keyframes slidein {
    from { left: -100%; }
    to   { left: 0; }
}

/* Firefox < 16 */
@-moz-keyframes slidein {
    from { left: -100%; }
    to   { left: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slidein {
    from { left: -100%; }
    to   { left: 0; }
}

/* Internet Explorer */
@-ms-keyframes slidein {
    from { left: -100%; }
    to   { left: 0; }
}

/* Opera < 12.1 */
@-o-keyframes slidein {
    from { left: -100%; }
    to   { left: 0; }
}
